[2017-01-11 14:25] cheesema opened #2 "Possible Bug in Neighbour Cells"
Seems like there could be some neighbours that are being missed, due to a no-neighbour flag being set incorreclty. (+y neighbours)

[2017-01-19 12:26] #2 closed, assigned to cheesema

[2017-12-20 09:36] cheesema opened #3 "Tests no longer compiling"
On master I am unable to compile the tests. Due to duplicate symbols.

[2017-12-20 15:04] #3 closed, assigned to nobody

[2017-12-20 15:05] cheesema opened #4 "Need to add updated install instruction to Readme"
The Readme needs to be slightly updated to include the correct clone recursive and or git submodule init, git submodule update commands

[2017-12-28 13:57] cheesema opened #7 "Minimal Version for Release"
Over Christmas thought about what the first targets should be.

The basic functionality it would be nice to be able to have with documentation would be:

1. Convert image to APR (with default parameter, and parameter selection)
2. Example providing two different reconstruction to Image file (smooth, pc)
3. Example showing looping over all particles and accessing the level, type and intensity, also

[2017-12-28 13:59] cheesema opened #8 "Neighbour iteration comparison"
For comparison and benchmark of performance compared to alternative data structures in OpenFPM.

Need some candidate datasets and a way to write them for reading into OpenFPM.

Code exists, just needs re-organization.

[2018-01-08 18:35] cheesema opened #11 "On linux getting Java and google test errors, however everything is working fine on Mac osx"
Could be I need to update things, but not sure.

[2018-01-09 11:02] #11 closed, assigned to nobody

[2018-01-09 13:27] skalarproduktraum opened #12 "Choice of license"
What license shall we choose for the library?

* _GPL3_ - 'infectious', but will keep derivative works open-source, cannot be used in commercial software then
* _LGPL3_ - same as GPL, but can be linked against in commercial software
* _MIT_ - do whatever, no guarantees, keep the copyright intact
* _Apache License 2.0_ - do whatever, but don't sue me. Provides some protection against litigation, al

[2018-01-12 13:18] cheesema opened #14 "Maximum and Minimum over all particles and by level"

[2018-01-12 13:21] cheesema opened #15 "Change to https://github.com/jkriege2/TinyTIFF"
for tiff IO?

Aparentlly it is like 100 times faster.. for larger images reading in the image takes about 20-30% of the total time.

[2018-01-15 15:23] #15 closed, assigned to krzysg

[2018-01-22 09:58] #14 closed, assigned to nobody

[2018-01-22 09:58] cheesema opened #22 "APRTest"
Not passing on Linux - APR Pipeline,

[2018-01-22 13:34] cheesema opened #26 "Bug in map_inplace in iterator example on sphere_400 example"
working on it

[2018-01-22 13:44] #26 closed, assigned to nobody

[2018-01-23 09:23] cheesema opened #31 "Sporadic, exit memory error using MallocCheckHeapEach flag"
There is still a bug, with MallocCheckHeapEach, from an Hdf5 garbage collector, that sporadically causes an error on exit with the flag enabled. Can't figure out whats causing it.

Get it every 2-3 run Example_apr_iterate on master, running on osx.

Valgrind has no issues, excluding the pointers in the register_blosc(), function.

[2018-01-29 10:21] cheesema opened #40 "APRTest failing on master"
i'll look into it.

[2018-01-29 10:57] #40 closed, assigned to nobody

[2018-01-31 09:27] cheesema opened #46 "I think the use of mask-file is borken"
Since update of the mesh class I think the maskfile use has been broken.

[2018-01-31 16:47] #4 closed, assigned to nobody

[2018-01-31 16:47] #22 closed, assigned to nobody

[2018-02-01 12:44] skalarproduktraum opened #50 "APRNumerics::compute_gradient_vector() fails to calculate gradient for last particle"
It seems that APRNumerics::compute_gradient_vector() is missing the last particle in the dataset. I can consistently reproduce this with all the datasets I have, and the Java wrappers.

[2018-02-02 19:21] cheesema opened #54 "I am getting seg faults when running multiple get_apr commands in sequence"
I have a loop of multiple calls to the get_apr, unfortunately, its on my benchmarks, in Benchmark_real_datasets

[2018-02-04 11:52] #54 closed, assigned to krzysg

[2018-02-08 10:52] #12 closed, assigned to nobody

[2018-02-08 18:24] #7 closed, assigned to skalarproduktraum, cheesema, krzysg

[2018-02-08 18:24] #46 closed, assigned to krzysg

[2018-02-08 18:24] #8 closed, assigned to cheesema, incardon

[2018-02-13 14:39] krzysg opened #58 "command line arguments ignored for Example_get_apr"
when used with head.tif (it does not happen always). Command line to reproduce:
Example_get_apr -i head.tif -rel_error 0.01

Obviously it is overwritten by this code in auto_parameters(...):
https://github.com/cheesema/LibAPR/blob/2dddea899c668e12c770d1473c2fb4d95c0955be/src/algorithm/APRConverter.hpp#L563-L574

Before naive fix I think we need to discuss how to handle auto_parameters:
- should th

[2018-02-13 15:00] emmenlau opened #59 "Add version number and install target [Feature Request]"
It would be great to have a version number and an install target.

[2018-02-13 15:03] cheesema commented on #58
Good idea, lets discuss this tomorrow

[2018-02-13 15:20] krzysg commented on #59
Hi, yes we are working on those things.

In in the meanwhile the way to play with LibAPR in your own project is to use it as a submodule. To do that run in your project root directory those commands to get LibAPR with all other stuff it needs:

[code]

and then minimalistic CMakeLists.txt file using LibAPR is as easy as:
[code]

[2018-02-14 11:06] emmenlau commented on #59
Thanks @krzysg that sounds good. I will do as you suggest. If you like we can still keep this task open for future reference?

[2018-02-14 11:25] krzysg commented on #59
It is good to keep it open - anyway this issue is not solved yet and work is ongoing. Thanks for playing with APR! :-)

[2018-02-14 11:31] krzysg opened #60 "CreateSmallSphereTest.APR_INPUT_OUTPUT hangs when compiled with Intel compiler"
Compiled with Intel's Parallel Studio 2018u1:
[code]

Test run with command:
```./test/testAPR  --gtest_filter=*APR_INPUT_OUTPUT*```

Output:
[code]

Seems that it hangs just before/during writing HDF5 file (comparing to output from gcc/clang). This is the only test that fails.

[2018-02-14 11:38] krzysg commented on #50
Is this still a problem? If yes, how to reproduce it?

[2018-02-14 12:17] cheesema commented on #50
Let me have a play, and see if its still an issue. Was when using the file from Scenery.

[2018-02-14 12:18] cheesema commented on #31
Let me check if this is also still an issue.

[2018-02-14 12:25] cheesema commented on #31
Yip, I get it running still every 2-3 runs on Example_apr_iterate, using sphere_apr.h5 (120)

When using the following flag: MallocCheckHeapStart

[2018-02-14 12:29] krzysg commented on #60
Seems that problem is with popen command:
[code]

It maybe connected to specific I/O since it was run on Lustre filesystem. Solution which should be good enough is ... not to do that. Anyway what was the purpose to read hash from git and put it to hdf5 files remains unknown..

[2018-02-14 12:34] cheesema commented on #60
Hey, the purpose was so that you can track what commit of the repo was used to generate the particular APR. The current way of doing it is pretty ghetto, however, I have found it very useful. So if possible would like to continue this functionality into the future. B

[2018-02-14 13:18] krzysg commented on #60
I'm not sure if this is good approach (but maybe it was good in early development stages). We should put there APR version (as soon as it is implemented ;-) ). Hash is not working anyway when command is run not exactly from within git repository and it is giving nasty error outputs like this from HPC:

[code]
or from my Mac:
[code]
Of course it will not work for LibAPR users in their own projects

[2018-02-14 14:42] cheesema commented on #60
True, let us also discuss this tomorrow, maybe we can come up with a different solution that gives the functionality that would be useful into the future.

[2018-02-14 15:04] krzysg commented on #60
It is fixed now (+ versioning of APR added). It captures hash of LibAPR while it is being built. Works also if LibAPR is used as a submodule.
For now version is fixed to 1.0.0 since we need to decide how/when it should be changed.

[2018-02-14 15:09] krzysg commented on #60
Since we are not using popen anymore, reported problem is also solved (re-tested on HPC  with Intel compiler).

[2018-02-14 15:09] #60 closed

[2018-02-14 19:51] cheesema opened #61 "get_parts_from_img"
We need to bring back from the dead one of the functions here. There was also a function that then sampled the particles from an input image from the nearest pixel, currently it is only supporting for a tree of down-sampled images.

[2018-02-14 20:39] krzysg commented on #61
Sorry - it’s probably me. Maybe we should identify API functions and mark them somehow. I removed all not needed (for compiling) stuff.

[2018-02-15 10:27] krzysg commented on #60
UPDATE:  all information about possible cause of this strange hanging process (maybe for future investigating similar/same problems)

popoen was hanging here:
[code]

It happend only for latest (icc (ICC) 18.0.1 20171018) Intel compiler, previous version of icc works (clang and gcc are also OK). It might be connected to OpenMP. Since when
[code]
is set, everything works fine. Anyway 'popen' was ca

[2018-02-15 14:31] krzysg commented on #31
I do not think that problem is connected to APR directly. I can reproduce it with such a simple example:
[code]
so it happens even without reading data at all and seems to come from HDF5 library.

It might be also that sth is wrong with MallocCheckHeapStart itself. It happens that it kills my vim editor for example and it happens only when this check is activated.
```Vim: Caught deadly signal SEGV

[2018-02-15 14:44] cheesema commented on #31
I thought something strange could be the case, very interesting!, guess we can close this. Good work :)

[2018-02-15 14:44] #31 closed

[2018-02-17 16:50] cheesema commented on #61
also interp_depth needs to be changed to interp_level, reflecting newer naming convensions. .

[2018-02-19 16:32] krzysg opened #63 "After latest fix pipeline test with GCC is not passing"
Fix introduced here: https://github.com/cheesema/LibAPR/commit/7053d6da340de37525351907b4212e8e61e98eb8 broke something.
On a master branch before fix everything works fine.

When run with clang:
[code]
everything is fine:
[code]

but when running same stuff with GCC:
[code]

It fails:
[code]

[2018-02-19 18:01] cheesema commented on #63
Yip, makes sense, will check and fix tomorrow. Wasn't thinking... will need to double check, then update the test files. Also think on some further tests, to avoid other potential errors like this in the future.

[2018-02-20 10:23] cheesema opened #64 "Compilation issues on Ubuntu/gcc"
[ 85%] Building CXX object CMakeFiles/libapr.dir/src/vis/RaytracedObject.cpp.o
In file included from /fastbeast/LibAPR/src/io/hdf5functions_blosc.cpp:11:0:
/fastbeast/LibAPR/src/io/hdf5functions_blosc.h:15:19: fatal error: hdf5.h: No such file or directory
compilation terminated.
CMakeFiles/libapr.dir/build.make:86: recipe for target 'CMakeFiles/libapr.dir/src/io/hdf5functions_blosc.cpp.o' failed

[2018-02-20 11:54] cheesema commented on #64
Simple cmake fix, nice work K*

[2018-02-20 11:54] #64 closed

[2018-02-20 11:54] cheesema commented on #63
Hdf5 data type issue again, resolved.

[2018-02-20 11:54] #63 closed

[2018-03-01 14:39] krzysg commented on #59
With latest changes on master we have now lib version and install functionality. The way to use it is configure it via some new APR_* variables (can be set to ON/OFF depending on needs) which describes what to build and if it should be installed:
[code]
(all other configuration possibilities are now in the top of CMakeLists.txt file)

so full command line would look like:
[code]
To use APR the min

[2018-03-01 14:43] emmenlau commented on #59
Very nice work! I will test this ASAP in my CI system on various platforms and let you know how it goes!

[2018-03-05 14:14] emmenlau commented on #59
Works for me, thanks!

[2018-03-05 14:14] #59 closed

[2018-03-05 14:15] emmenlau opened #71 "force_load not supported on MS architectures"
When building the latest head on MSVC 2017, I get errors:
[code]

Is it correct that linker option `force_load` is not supported on MS architectures? I found https://stackoverflow.com/questions/25038974/force-load-linker-flag-for-other-platforms

[2018-03-05 14:40] skalarproduktraum commented on #71
Hi @emmenlau,

are you using the Microsoft compiler in VS2017? We currently do not support it because it either does not support some options, or produces crashing code. It works though with the Intel compiler, if you'd like to try that.

[2018-03-05 14:46] emmenlau commented on #71
Hi @skalarproduktraum , I'm using various compilers to test code quality. There is MacOSX clang, various versions of gcc on Linux, gcc on MS Windows (MinGW64), and MSVC 2015 and 2017.
I currently do not use the Intel compiler.

Are you planning to support MSVC compiler in the future?

Most issues I have fixed in the PR are according to the C/C++ standard, so they are not platform-specific. For exa

[2018-03-05 14:49] skalarproduktraum commented on #71
Ah, sorry, I hadn't seen your PR! Thanks!

We do plan to support MSVC at some point in the future, we just don't have the resources to do the required fixes and testing at the moment.

[2018-03-05 14:49] emmenlau commented on #71
Ok great! If you allow I'd like to continue contributing testing and minor fixes?

[2018-03-05 14:50] skalarproduktraum commented on #71
Of course! We're happily taking PRs :) Thank you for your time and effort! 👍

[2018-03-05 14:51] emmenlau commented on #71
Great! I have not looked into `force_load` yet because I did not know this option before, but I'll fix it when I get around to it. Maybe lets leave this issue open in case someone beats me to it :-) Thanks for your nice work!

[2018-03-05 15:06] skalarproduktraum opened #72 "Add Travis CI integration"
We'd like to run our tests in an automated fashion, so it'd be nice to set up Travis at some point.

[2018-03-06 21:43] emmenlau commented on #71
@skalarproduktraum it seems still a bit "experimental", see i.e. https://gitlab.kitware.com/cmake/cmake/issues/16730. If it fails to build my standard set of prerequisites, I'd be tempted not to invest too much time to get it working.

Can you elaborate what problems you're facing with MSVC? Did you try 2017? I'm certainly no fan of the Microsoft compiler! But there are reasonable efforts from Mic

[2018-03-07 08:28] skalarproduktraum commented on #71
@emmenlau building works with MSVC 2017 (at least), but the generated binaries don't work, and crash in rather random places. Also, MSVC still only supports OpenMP 2.0, while we require 3.x, and that would make MSVC-built binaries also quite slow. As said, with VS+Intel compiler it works, but it's a bit of a heavy prerequisite that also requires its own runtime libraries...

[2018-03-07 12:07] skalarproduktraum commented on #71
OpenMP can be disabled by passing `-DDISABLE_OPENMP=1` to CMake.

Regarding your currently open PR: Is this all you want to add for the moment? Then we'd have a look and check.

Msys2: Yes, I know it's quite nice, but the problem (and please correct me if this is not true anymore) is an ABI that is incompatible with MSVC, so msys2/mingw64-built stuff cannot be linked into a MSVC executable/library

[2018-03-07 12:42] emmenlau commented on #71
Regarding the PR, if you can already merge it then please go ahead, it would add some helpful details. I've just pushed another minor change that enables successful building with MinGW64 on MSYS2, so it does add value in itself. The MSVC build is not complete which takes away a bit of value from the PR, but on the other hand, the PR adds only changes that are true code improvements for all platfor

[2018-03-09 10:24] emmenlau commented on #71
Can I re-phrase part of my question? Why is blosc required to be static in the current build?

I have switched to external blosc (see https://github.com/cheesema/LibAPR/pull/75) and at least the build of LibAPR seems fine. Did you encounter problems with dynamically linked blosc? It seems a bit cleaner to build blosc static or dynamic based on LibAPR, not mix two styles?

Thanks for your input!

[2018-03-11 14:21] MSusik commented on #72
Hi!

I started with dockerizing the application, as I has a lot of problems with installation. You can check progress here: https://github.com/MSusik/libaprdocker

I still can't get through the CMake installation.

The first error I got is about this line:
```project(LibAPR DESCRIPTION "Adaptive Particle Representation library") ```
Simply removing ```DESCRIPTION "Adaptive Particle Representation

[2018-03-11 14:22] MSusik commented on #72
I believe this might be helpful https://github.com/cheesema/LibAPR/pull/75

[2018-03-11 15:08] krzysg commented on #72
Please use at least cmake 3.9 (DESCRIPTION is not supported earlier). Problem here is that CMakeLists.txt does not require such high revision - it will be udpated soon and probably required version will be 3.10 since it introduce nice features for CUDA and  I guess this is what currently will be needed in LibAPR.

Regarding your blosc problem please clone it with recursive flag:
[code]

or after c

[2018-03-12 08:19] psteinb commented on #72
I agree as discussed last week. Let's bump the minimum required cmake
version then.

[2018-03-12 11:01] krzysg commented on #71
The idea behind static blosc is that it can be easily link to both - static and shared LibAPR - to produce fat libs. Then in installation step we just need to isntall libapr.dylib (or .so), libapr.a and LibAPR header files.

[2018-03-12 19:14] MSusik commented on #72
All right, https://github.com/MSusik/libaprdocker contains a working Docker recipe.

I prefer to keep Dockerfile on a separate repository, if it is not intended to be used in development.

Please tell me, what can be checked during a Travis build? How to run tests?

Thanks!

[2018-03-13 09:12] emmenlau commented on #71
Ok, then in my eyes, the issue can be closed. With the PR https://github.com/cheesema/LibAPR/pull/75 I can use an external dynamic c-blosc, and force_load is not a problem anymore.

[2018-03-13 09:12] #71 closed

[2018-03-13 09:31] krzysg commented on #71
It should work now, I have merge some changes made in CMakeLists.txt during hackathon. Seems that force_load is supported only on Apple platfrom (by both - clang and gcc). On Linux and probably Windows (I have no way to check it) "--whole-archive" should be used (and whole-archive is not supported on Apple...). It is now pushed on 'develop' branch.

[2018-03-13 20:11] cheesema commented on #72
I'll talk to the boys tomorrow re this.

[2018-03-21 12:16] cheesema commented on #58
This should be resolved now with latest pull request. #76

[2018-03-21 12:16] #58 closed

[2018-03-21 15:28] cheesema opened #78 "Compression with prediction step seems to introduce over-flow"
Currently compression with setting 2, can lead to an integer over-flow somewhere.

[2018-03-27 07:37] cheesema commented on #72
So we are a step closer, build integration is done, we just need to get the tests integrated.

[2018-04-14 09:55] cheesema opened #82 "Namechange MeshData -> PixelData"
What do you guys think @skalarproduktraum this would make you happy?

@krzysg ?

[2018-04-14 10:42] krzysg commented on #82
Do we need that change? I mean, I do not have any objections to change it - if this is MeshData, PixelData or even GridData it's completely OK for me. (It can be even IdoNotGiveAShitAboutPixelDataSinceIuseApr class ;-) ).

[2018-04-14 10:52] cheesema commented on #82
hahahaha, yeah this is more of a response to Ulriks dislike + it woudl also align with the language we use in the paper, and avoid any ambiguity.

[2018-04-14 17:30] skalarproduktraum commented on #82
Go for PixelData. It _is_ pixel data you're representing and therefore the least confusing naming for external people 👍

[2018-04-20 03:16] RenieWell opened #83 "Example build error in Ubuntu 14.04"
I could successfully install LibAPR, but when I try to build the example file I met some problem.
My system is Ubuntu 14.04
CMake version: 3.6.3
GCC version: 5.2.0
When I try to run the "cmake-build.sh "script in the LibAPR folder, I got the following error:
![screenshot from 2018-04-20 10_50_01](https://user-images.githubusercontent.com/4987555/39028653-4d34cd7a-448a-11e8-9e08-91cea60f6057.png)
S

[2018-04-20 07:58] cheesema commented on #83
Thanks for posting, we will look into it and get back to you soon :)

[2018-04-20 08:01] krzysg commented on #83
Hi, thank you for reporting that problem.
I can see that problem is with snappy library and also that c-blosc is trying to use external one instead provided with c-blosc. Could you please try to modify main CMakeLists.txt file, by adding line:

[code]

in the place where blosc is configured so, just after those lines (but before add_subdirectory("external/c-blosc/blosc")):
[code]

It seems that it

[2018-04-20 09:15] RenieWell commented on #83
It works!
Thank you!

[2018-04-20 09:15] #83 closed

[2018-04-20 09:17] krzysg commented on #83
Great! I will add that line to our CMakeLists.txt.

[2018-04-27 12:05] krzysg opened #84 "calc_sat_mean_z method calculates wrong values when used offset is close to img dimension"
I have noticed that when comparing to GPU version when z-direction was equal to 7 and offset equal to 3 in the output of calc_sat_mean_z there is a lot of 0's. When z-dir length is big enough (like 13) everything seems to be correct.

[2018-04-30 09:12] MSusik commented on #72
Seems that it is done https://travis-ci.org/cheesema/LibAPR.

@krzysg I'm closing the issue, feel free to reopen if there is anything to add.

[2018-04-30 09:12] #72 closed

[2018-05-08 12:13] joeljonsson opened #85 "broken for 2D images"
https://github.com/cheesema/LibAPR/blob/0716feb94b8a1d80c52ec0a155a81dbf2ec86fe4/src/algorithm/APRConverter.hpp#L179

[2018-05-08 12:41] joeljonsson commented on #85
image was broken, not the code

[2018-05-08 12:41] #85 closed

[2018-05-08 13:05] cheesema commented on #84
This is undetstandable, given the effective stencil size of the filter across all steps. My suggestion would be that the z-direction is turned off given a two small image. But, we can see if we come up with a more elegant solution. The other is that also then the window is reduced as much as possible so it still works. However, I am not sure that is consistent with what the filter is meant to be d

[2018-05-09 10:16] cheesema opened #86 "Neighborhood optimization -> shoudl make this optional and set a flag"
This is just a change in the creation of the datastructure for creation of the APR from V.

[2018-05-09 11:13] joeljonsson opened #87 "Add option to write intermediate steps to tif"
Would be nice for debugging / understanding to be able to visualise gradient, scale etc.

[2018-05-24 09:16] krzysg commented on #82
Everything seems to work fine after changes so closing.

[2018-05-24 09:16] #82 closed

[2018-05-25 11:59] cheesema commented on #61
I have now added this back to develop.

[2018-05-31 04:17] yangmmm opened #88 "windows build error"
I met a link error when I was trying to build LibAPR.
My system is windows 10
CMake version is 3.11.1
Compiler is  Intel 18.0.2.20180210
when I ran
[code]
I got
[code]

And then I ran `cmake --build . --config Debug`
Then the error came up:
[code]

It looks like a blosc link error, but I don't know how to fix it. I tried to compile the blosc library in https://github.com/Blosc/c-blosc and add a '-

[2018-06-05 12:14] cheesema commented on #88
Hi yangmmm,

Thanks for letting us know. Will get back to you shortly hopefully with a fix.

Cheers,
B

[2018-06-06 09:01] #78 closed

[2018-06-06 10:00] skalarproduktraum commented on #88
Hello @yangmmm,

the issue you're seeing is caused by the LZ4 library not correctly detecting the Intel Compiler on Windows, which does not support the __attribute__((packed)) notation, as it's Linux cousin does.

There are three options to solve this:
* rerun the first cmake command with `-DLZ4_FORCE_MEMORY_ACCESS=1` and rebuild (I haven't tried that one, but that's what the header file is sugges

[2018-06-12 04:07] yangmmm commented on #88
Thanks a lot @skalarproduktraum and @cheesema ,
I have tried the first solution, by adding `-DLZ4_FORCE_MEMORY_ACCESS=2`, but the CMake didn't recognize and return an warming `CMake Warning: Manually-specified variables were not used by the project: LZ4_FORCE_MEMORY_ACCESS` .
And I deleted the `__attribute((packed))__` declaration in lz4.c file, and it worked! But some new error came out:

  E:\Li

[2018-06-14 17:49] cheesema commented on #87
I have added this with the flag -output_steps

[2018-06-14 17:49] #87 closed

[2018-06-14 17:49] cheesema commented on #86
Have added this with flag -neighborhood_optimization_off

[2018-06-14 17:49] #86 closed

[2018-06-22 10:44] krzysg opened #93 "Java wrappers does not built anymore (-DAPR_BUILD_JAVA_WRAPPERS=ON)"
Example error output:

[code]

I have no idea when it started to failing (I have checked several branches going back in time like 2 weeks but fails on all of them).

So the main things that should be addressed here are:
- obviously we need fix (or decision to abandon swig and go with JavaCPP)
- we should somehow add build of java wrappers to travis to avoid such situations in future

[2018-06-25 09:22] cheesema commented on #93
I would support abandoning swig and going with JavaCPP, @skalarproduktraum what is your opinion?

[2018-07-05 21:31] skalarproduktraum commented on #93
I would agree with @cheesema when we can do the same with JavaCPP (as in have the full APR classes wrapped with JavaCPP). Happy to do this together with @krzysg e.g. next week :+1:

[2018-07-16 08:39] cheesema opened #95 "APRRaycaster removed due to compilation from develop"
Due to include issues with APRRaycaster, I have removed it to allow pushing of recent changes into develop. We need to figure this out and then add back.

[2018-11-23 12:35] cheesema opened #98 "Removal of redundant structures from APRAccess"
There are a few helper caches in APRAccess that are redundant, and not ever used anywhere, and could be removed to make the reader/write classes nicer.

In particular:
[code]
All information required for these can already be found in:
[code]
This is also currently how the iterators get this information. Further, the definitions of the global_index_by_level_begin & end follow a different convention

[2018-11-23 12:37] cheesema commented on #98
@joeljonsson do you use any of those functions for your CNN stuff?

[2018-11-23 12:38] cheesema commented on #88
@skalarproduktraum any ideas?

[2018-11-23 14:08] cheesema opened #99 "Increase test coverage of iteration operations"
Would be great to include some test coverage on:

* The random access components of the GenIterator.
* The access components of the APRTree.
* Find particle cell from spatial point.
* Reconstruction Condition test.
* Compression Class.

[2018-11-28 09:10] cheesema opened #100 "Update naming conventions in ExtraPartCellData"
*Should make the naming consistent and change from depth_max to the newer convention of level.
*Also should migrate some helper functions from APRTimeIO in APR_time develop into the ExtraPartCellData, as it seems this data-structure type is useful in the time context.

[2018-11-30 12:53] MSusik commented on #99
BTW, if you want the repo to be very fancy, you can automatically measure test coverage:

https://github.com/codecov/example-cpp11-cmake

I can help you with setup if needed.

[2018-12-05 09:19] maweigert opened #102 "python bindings crash at import (linux/mac)"
Hi,

First, thanks for the great package, which I would love to use from within python.
I followed the install instructions for python support (`cmake -DAPR_BUILD_PYTHON_WRAPPERS=ON ..`) and everything builds fine. However if I try to import the built python module (`pyApr.so`) via `import pyApr` it crashes at (1) Mac and (2) Linux with the following errors:

(1) OSX 10.12.6, clang 8.0.0, python 3

[2018-12-05 09:22] skalarproduktraum commented on #102
Hi @maweigert, could it be that the build system picked up Python 2 by accident?

[2018-12-05 09:31] krzysg commented on #102
Python 2 is used by default, check that line in CMakeLists.txt file:
`
set(PYBIND11_PYTHON_VERSION 2.7)
`

[2018-12-05 09:48] maweigert commented on #102
Ok, thanks! Seems like that solved the issue :)

Changing the respective line to

 `set(PYBIND11_PYTHON_VERSION 3.6)`

in CMakeLists.txt actually works!
Maybe that should be on the Readme?

Thanks again!

[2018-12-05 09:54] maweigert opened #103 "python pixel->apr->pixel roundtrip results in transposed image"
Hi,

just did a short roundtrip from a pixel image to APR back to pixel image and the result seems to be tranposed:

[code]

[2018-12-05 09:55] #102 closed

[2018-12-05 14:01] cheesema commented on #103
@joeljonsson is this the case on your version as well?

[2018-12-05 18:36] joeljonsson commented on #103
This was indeed the case on master. It should be fixed now.

[2018-12-05 18:36] #103 closed

[2018-12-06 20:23] litaochen opened #104 "Segmentation fault"
Hello,
I got "**segmentation fault**" error when transforming 2D TIFF image to APR format.
I am using the python wrapper
The output looks like:
[code]

Any idea why is this happening?

[2018-12-07 11:00] joeljonsson commented on #104
Hi,
Unfortunately only 3D images are supported on master for now. If possible you can try `git checkout APR2D_temp`.

[2018-12-07 13:06] litaochen commented on #104
Thanks for the info.
Seems that there are two branches for 2D: APR2D, APR2D_tmp. Yesterday I tried "APR2D" and it seems working. What is the difference between this two branches?

[2018-12-07 13:27] cheesema opened #105 "Merge 2D image support into the main branch"
See #104, we should clean up and merge the 2D support into master .

*ideally also extend the test coverage before we do this as well.

*Should also do a branch clean-up

[2018-12-07 14:20] joeljonsson commented on #104
@litaochen APR2D_temp is more up to date and contains a lot of additional python functionality that I currently use to build convolutional neural networks operating on the APR.

[2018-12-07 14:47] litaochen opened #106 "examples are not built by default"
In the instruction there is a statement:
[code]
But When I follow the instruction, the examples were not built.
By inspecting the file "CMakeList.txt" I saw the switch is "OFF" by default.
[code]
Shall it be changed to "ON"?

[2018-12-09 11:48] cheesema opened #107 "Master Failing"
python fix caused master now to have a compilation error.

[2018-12-09 12:42] cheesema commented on #107
nm, seems it was a travis error.

[2018-12-09 12:42] #107 closed

[2019-02-10 21:19] VolkerH opened #109 "conda-forge package"
It would be nice to be able to install this library and the python-bindings via conda-forge.

[2019-02-14 12:05] VolkerH opened #110 "Python `__init__.py` file missing?"
Hi,

I'm trying to get the python samples to work, but I am wondering whether some python code is missing from the repository. Specifically I assume I would need something like an `__init.py__` to load pyApr as a module.

I built  libapr with cmake using the option `-DAPR_BUILD_PYTHON_WRAPPERS=ON`. I'm not sure whether the cmake step should produce the `.py` files that I need to import pyAPR.
I ca

[2019-02-14 12:15] krzysg commented on #110
Hi, do you see the same problem if you try import pyApr from your build directory (so cd to the place where pyApr.so is generated)
You should be able to import that:

[code]

If you want to use pyApr from any other place setting PYTHONPATH should help:

[code]

One more important thing. By default wrappers are generated for python 2. So it can be also imported only by python 2. If you need it for

[2019-02-14 12:25] cheesema commented on #106
Thanks i'll follow up on this and make sure the README is correct.

[2019-02-14 12:28] krzysg commented on #106
I think that CMakeLists.txt is OK right now - this is library so default settings should reflect that and build only lib. Any additional stuff like examples, tests, wrappers etc. should be explicitly requested by user by providing -DAPR_BUILD_EXAMPLES=ON etc. options to cmake.

[2019-02-14 12:37] cheesema commented on #106
Yip we just need to update the README as it currenlty says:

mkdir build
cd build
cmake ..
make
This will create the libapr.so library in the build directory, as well as all of the examples.

[2019-02-14 13:31] VolkerH commented on #110
Hi @krzysg,

thanks for the quick reply. Both of your recommendations were spot-on.
When I `cd` to the build directory and invoke python from there I can import it. I don't know why it didn't work with setting the path using `sys.path.insert`. Maybe I mistyped the path. Will try again.

Also, I was trying with Python 3, when I used python 2.7 I managed to import it.

Thanks a lot, now I think I ha

[2019-02-14 13:31] #110 closed

[2019-02-14 14:02] cheesema commented on #93
These wrappers have been replaced by JavaCPP wrappers see: https://github.com/AdaptiveParticles/LibAPR-java-wrapper

[2019-02-14 14:03] cheesema commented on #109
This indeed would be nice, and is something we will look at trying to do in the future.

[2019-02-14 14:03] krzysg commented on #93
Should we remove java SWIG stuff from LibAPR?

[2019-02-14 14:04] cheesema commented on #95
In develop_time branch I have added this back, as the old java wrappers which were causing the issue are no longer being used. Also, simplified it to being header only, to be consistent with all other executables.

[2019-02-14 14:06] cheesema commented on #105
This has largely been done, just needs some time to look over and check I haven't broken anything. My current develop_time branch has these integrated.

[2019-02-14 14:53] cheesema commented on #93
My vote would be yes?

[2019-02-14 15:12] krzysg commented on #93
These wrappers were used only by @skalarproduktraum, Ulrik do you still need them in LibAPR? If not I will remove them.

[2019-02-14 16:19] cheesema commented on #50
@skalarproduktraum lets remember to check this :)

[2019-02-25 13:19] skalarproduktraum commented on #109
Probably @maweigert knows how to do that 👍

[2019-02-25 13:20] skalarproduktraum commented on #93
I will check the new wrappers in the next days and see if there's still something needed there. If you, you can delete them. I'll get back to you later this week 👍

[2019-02-25 13:48] cheesema commented on #109
That would be awesome?, @maweigert do you hold the magic keys?

[2019-02-25 15:41] maweigert commented on #109
Hi,

Sadly, I'm not really experienced with conda-forge - I'll mostly distribute python packages directly via setuptools (pip), which might be doable in your case, too, e.g.

http://www.benjack.io/2017/06/12/python-cpp-tests.html

(Disclaimer: Haven't tried it though)

[2019-02-28 13:05] MSusik commented on #109
If you manage to create a pip installable package, it would have a large advantage over conda-forge as it would be independent of anaconda. Some of the very C/C++ heavy packages like numpy did that, so it should be possible.

[2019-02-28 14:18] cheesema commented on #109
So pip seems the correct direction, we should look into this.

[2019-02-28 14:20] cheesema commented on #99
This sounds both cool and daunting. Scared once we get back a number :). But definitely is something we should look at. I'll let you know.

[2019-03-01 00:03] VolkerH commented on #109
`pip` installable would definitely simplify the python installation. I'd appreciate any effort to make it easy to install, be it `pip` or `conda`.

However, `conda` has the advantage that it is not limited to Python. I think @ctrueden has started some work to make ImageJ / Fiji installable via conda-forge.

[2019-03-01 00:57] ctrueden commented on #109
We started a conversation about packaging Java components at conda-forge/conda-forge.github.io#590. But I doubt it is going anywhere any time soon. We now have [jgo](https://github.com/scijava/jgo) for downloading Java packages into Python on demand, and I don't have any other concrete use cases for making ImageJ or Fiji installable as an end-user application via conda. If you want to make a case

[2019-03-01 01:07] VolkerH commented on #109
Thanks for weighing in. Maybe that was the discussion that gave me ideas imageJ might be distributed this way. I guess I misinterpreted this. Sorry for the distration.  In that case I don't have a preference either way.

[2019-03-01 13:41] cheesema opened #111 "Additional (more intuitive naming) looping functions for iterators"
Current looping structures looks on the lines of:

[code]

Thought about changing the loop interface to also allow the form:

[code]
@skalarproduktraum @krzysg @joeljonsson what do you guys think?

[2019-03-01 13:42] cheesema commented on #111
I will keep the old way, and just add them in currently on my develop_time branch.

[2019-03-01 18:41] ctrueden commented on #109
No need to apologize. It also might have been this discussion:

https://github.com/conda-forge/staged-recipes/pull/7067#pullrequestreview-177561145

It was there that we decided to call the conda package `pyimagej` instead of simply `imagej`, in case we start shipping ImageJ itself (as an end-user application) via conda in the future.

[2019-04-03 12:00] krzysg commented on #93
[LibAPR-java-wrapper](https://github.com/AdaptiveParticles/LibAPR-java-wrapper) is the replacement for swig java wrappers which is currently supported (and used in other projects). SWIG has been removed from LibAPR.

[2019-04-03 12:00] #93 closed

[2019-04-05 23:03] cheesema commented on #88
This is still broken.

We are working on this and hopefully will have it resolved soon.

[2019-04-08 07:59] MSusik commented on #88
@cheesema
I've never been an advanced Windows user, but I heard it is possible to run a Linux Docker container on Windows. If the users want to use LibAPR on Windows, they can use the Dockerfile provided, until this issue is solved. Hope that helps :)

[2019-04-08 22:06] krzysg commented on #88
Unless you provide easy way to use LibAPR via Docker in Fiji/ImageJ (including automatic installation) it is not solution we are looking for.

[2019-04-17 19:06] vrutten commented on #106
Hi,
I'm trying to build the code (on OSX).
I ran the instructions:
`mkdir build
cd build
cmake ..
make`

The targets are built but no 'libapr.so' is created.

The files which are generate are:
- Makefile
- libapr.1.dylib
- libapr.dylib
- external
- libapr.1.2.0.dylib
- ConfigAPR.h
- CMakeFiles
- CMakeCache.txt
- cmake_install.cmake

Any ideas as to what could be going wrong?

Looking forward to te

[2019-04-25 07:57] cheesema commented on #105
This is 95% there, just need to insure we have test coverage, also getting @joeljonsson branch up to speed. Then we can close this.

[2019-04-30 12:28] psteinb opened #113 "libtif version"
Just wondering why you need libtiff 5+, I see especially on windows that many package managers ship libtiff `4.0.9`. Did you test if libapr works with libtiff4 ?

[2019-04-30 14:09] psteinb commented on #113
Just to give a reference, the source code available [here](http://download.osgeo.org/libtiff/) lists `4.0.10` as the most recent version.

[2019-04-30 14:11] psteinb commented on #111
why not `for (int z = 0; z < spatial::(apr_iterator).z.max(level); z++)`?

[2019-04-30 14:12] cheesema commented on #113
Thanks for querying this. Afaik this is just a typo in the Readme

[2019-04-30 14:13] cheesema commented on #113
It works with LibTiff4, and I thats what we are all using.

[2019-04-30 14:17] cheesema commented on #113
Updated, and in pull request for develop. Thanks Peter :)

[2019-04-30 14:17] #113 closed

[2019-05-16 12:39] #111 closed

[2019-05-16 12:40] #95 closed

[2019-05-16 12:42] cheesema commented on #109
Just an update on this. @joeljonsson is working on a re-design of the wrappers and they can be installed using pip. Will make the code public once its in a shareable form.

We are focusing on using Python as a environment to play round with the LibAPR, with some custom viewers, and interactive generation.

[2019-05-23 08:36] #105 closed

[2019-05-24 14:19] #98 closed

[2019-05-24 14:19] #50 closed

[2019-05-24 14:21] cheesema commented on #88
Recent refactoring of the library may remove these issue. Fingers crossed, we will see soon.

[2019-06-12 09:19] cheesema commented on #100
This has been done in the refactoring currently in develop_redo.

[2019-06-12 09:19] #100 closed

[2019-09-11 19:38] cheesema opened #117 "Remove pybind11 from the submodules"
Give we have externalised the python wrappers, we no longer need pybind11 in the submodules, nor do we need any python logic in the cmake.

Is this correct @krzysg @joeljonsson ?

If so we can then go ahead and remove these.

[2019-09-12 16:47] cheesema opened #118 "Add Doxygen or similar"
It would be great to add Doxygen or similar for auto-generation of documentation and start a push towards standardisation of the style and comment/description data as to work with such a system.

[2019-09-16 16:50] MSusik commented on #99
I'm very busy in recent days, but once I find some time, I can take care of that.

[2019-09-17 08:00] cheesema commented on #88
It seems there is progress here. Currently mingw build is 90% there, will need to also check the Visual Studio + Intel Compiler route.

[2019-09-17 08:07] psteinb commented on #88
According to [this](https://gitlab.kitware.com/cmake/cmake/issues/19404#note_621517) entry in my issue with cmake, you may be
able to compile OpenMP code with LLVM under Windows with LLVM 9.0.0. Final Release was scheduled for August 28. So there is a
high likelihood, that it will be available soon. I'll add a note there that the community hope, cmake will be aware of this.

[2019-09-17 10:05] cheesema opened #122 "Windows mingw static linking error"
On develop when compiling the library using mingw64 installed using msys2, I get the following compilation error when -DAPR_BUILD_STATIC_LIB=ON

``
process_begin: CreateProcess(NULL, lib.exe /OUT:C:/Users/bevanc/LibAPR/build/libapr.a C:/Users/bevanc/LibAPR/build/external/c-blosc/blosc/libblosc.a, ...) failed.
make (e=2): The system cannot find the file specified.
mingw32-make[2]: *** [CMakeFiles\s

[2019-09-17 10:07] cheesema commented on #122
@skalarproduktraum do you have any ideas regarding this? When I do the same through Clion using the same mingw64 install I have no issues >.<

[2019-09-17 10:08] cheesema commented on #106
I vrutten, apologies for the delay! Didn't see this question on the existing issue.

Thanks for picking this up, their was simply a typo on the OSX build instructions. On OSX, the built library target is the libapr.dylib (the .so is for linux). This has been fixed in #121

[2019-09-17 10:08] #106 closed

[2019-09-17 10:10] cheesema commented on #84
@krzysg with the introduction of the padding functionality for the local instensity scale, is this still an issue?

[2019-09-18 07:54] cheesema opened #123 "Add the install instructions into the repo, and provide a link in the readme."
With latest changes on master we have now lib version and install functionality. The way to use it is configure it via some new APR_* variables (can be set to ON/OFF depending on needs) which describes what to build and if it should be installed:
[code]
(all other configuration possibilities are now in the top of CMakeLists.txt file)

so full command line would look like:
[code]
To use APR the min

[2019-09-24 08:25] cheesema commented on #88
Thanks @psteinb I actually have been playing round with this to understand the issues and had converged exactly to your post ;) Fingers crossed.. seems so close, yet so far. Given that the command line version can work, is there a possible work around?

[2019-09-24 09:35] psteinb commented on #88
Well, effectively one would have to write a custom cmake module to identify/pass the clang flags in the correct fashion on
windows for that matter. As soon as llvm/clang-cl has fixed the problem under windows, this cmake module will become unused. But
at least the project can move forward until then. ;)

[2020-05-25 18:32] HazenBabcock opened #124 "Segmentation fault on tiff stacks"
Hello,

I'm interested in how much compression I can get using this approach on tiff stacks, but I'm having some trouble with segmentation faults. `Example_get_apr` works fine for tiff stacks that have 2 images (created using the Python `tifffile` library):

[code]

But when I try a tiff stack that has 3 images I get a segmentation fault.

[code]

Any idea what I might be doing wrong?

[2020-05-25 21:20] joeljonsson commented on #124
Hi,

This is most likely an old bug in the computation of the local intensity scale. It has long been fixed, but unfortunately we have not updated the master branch in forever... It will be updated soon!

In the meantime, could you give it a try on the `develop` branch?

Also, you don't seem to be getting any adaptation in the first case (2 z-slices) as the computational ratio (number pixels / num

[2020-05-26 13:04] HazenBabcock commented on #124
Thanks! Using the development branch works.

Does `auto_parameters = true` optimize for something? Maximum compression?

[2020-05-26 14:54] joeljonsson commented on #124
Great!

Oh no, it's just an ad hoc solution that computes "reasonable" values for the `sigma_th` and `grad_th` parameters. If these values are set too low the APR will adapt to noise, resulting in oversampling. Conversely, if they are set too high, dim or fine-grained structures may be ignored. The optimal setting is of course one such that all "wanted" signal is resolved and anything else is not,

[2020-05-26 15:55] HazenBabcock commented on #124
Looking forward to the python wrapper :).

Which parameter does `sigma_th` correspond to? `SNR_min`?

[2020-05-26 17:42] joeljonsson commented on #124
Oh boy, looks like that's missing too. For a quick solution you could edit line 59 of the script to
`aprConverter.par.sigma_th = options.min_signal;`
and give it in as the `-min_signal` argument (pretty sure that parameter isn't used anymore).

[2020-05-28 13:48] HazenBabcock commented on #124
Okay, thanks for all the help with this.

[2020-05-28 13:48] #124 closed

[2020-06-02 10:16] cheesema commented on #117
I think we should check if there is an easy route through linux to now install c-blosc externally, if that is the case then we should maybe also remove that submodule and change the install instructions? @joeljonsson ?

[2020-10-05 09:41] JulesScholler opened #127 "Couldn't compile c-blosc"
I tried to compile on ubuntu 20.04 and had a problem with c-blosc. I replaced with the latest release by cloning the repo (https://github.com/Blosc/c-blosc) in *LibAPR/external* and now it compile without error.

[2020-10-30 19:05] bryantChhun opened #129 "Request: Include ExtraParticleData and APRAccess classes in python wrapper"
From what I can tell, the python wrapper includes access only to APR read/write functions, plus parameters for the APR conversion.  I'm interested in using the particle data itself, as I'm sure many others would be interested.

Is there a way to access this directly from the hdf5 file without using ExtraParticleData and APRAccess classes?

[2020-11-15 09:30] cheesema commented on #129
@joeljonsson has actually extensively developed the python wrappers, however I don' think they are public currently. @joeljonsson could we maybe give bryant access?

[2020-11-15 09:30] cheesema commented on #129
Apologies for the long delay in response.

[2020-11-16 21:49] bryantChhun commented on #129
@joeljonsson Hi Joel.  I'm aware of your APRNet work and am glad you've been working on the wrappers!  If you can provide access to your fork, or maybe, submit a PR here, that'd be greatly appreciated.

[2020-11-16 23:49] joeljonsson commented on #129
@bryantChhun so sorry for the late response. I'm happy (and somewhat surprised) you've heard of my work! I've invited you to the repository (try branching off of develop_joel, and see the instructions.md file for a quick setup guide). Feel free to contact me if you run into trouble, or if you need assistance wrapping/implementing additional functionality. I will try to make a final sweep and open

[2020-11-16 23:49] #129 closed

[2020-12-16 18:45] joeljonsson opened #133 "Require external gtest and remove it from submodules"

[2020-12-16 18:47] cheesema commented on #133
Currently macOS requries the use of gtest external for some compilers. Lets make this change following the develop_joel update.

[2020-12-16 18:49] joeljonsson commented on #127
Thank you for the comment! This will be resolved in the upcoming update

[2020-12-16 18:49] #127 closed

[2020-12-16 19:02] cheesema commented on #123
@joeljonsson and myself will try to do this and then we will add this into the README.

[2020-12-16 19:36] #117 closed

[2020-12-16 19:42] cheesema commented on #88
The current easiest solution in windows is to utilise WSL2, here installation runs fine. One signficant limitation is the current access speed between the windows and linux file subsystem. However, I believe this should be fixed this year (wishful thinking)

[2020-12-16 19:44] #84 closed

[2020-12-16 19:45] cheesema commented on #109
@joeljonsson

[2020-12-21 11:23] cheesema commented on #133
Probably should do the same for blosc?

[2020-12-21 12:48] #123 closed

[2020-12-21 12:48] cheesema commented on #123
#135

[2020-12-21 12:49] cheesema opened #136 "Remove unused parameters"

[2020-12-21 12:49] cheesema opened #137 "Review and clean up examples"

[2020-12-21 12:49] cheesema commented on #137
I am also going to integrate them into the build procedure.

[2021-01-29 16:01] skalarproduktraum opened #138 "Update build on Windows"
With Intel's C++ compiler now being free on Windows as well (see https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/dpc-compiler.html), there's a better path for compiling libAPR on Windows.

This however hinges on two issues:

* [ ] better CMake support for Intel C++ Compiler 2021. New version of CMake is due in a few days, let's see if that changes
* [ ] pyLibAPR is usi

[2021-02-01 12:14] cheesema commented on #133
Still need confirmation on how to install this directly on Linux through apt and have this all work.

[2021-02-01 12:18] krzysg commented on #133
Just for sake of making it clear - what is a reason to require external gtest (or blosc)? Is there any problem with having it as submodule?

[2021-02-01 12:23] cheesema commented on #133
It is a fair point, it may be un-necessary. But I have previously had various issues with compilation around gtest, that an external install seemed to solve.

Maybe one motivation is not suitable, its simply that blosc currently produces a bunch of warning, that during compilation produces a bit of noise.

[2021-02-27 11:52] cheesema commented on #138
#140 some success here.

[2021-02-27 11:52] cheesema commented on #88
#140 some success here WIP.

[2021-02-27 11:53] cheesema commented on #122
Focusing on windows-clang build. But the above was likely due to dodgy linking with compiling static with Blosc, this seems to be an issue even in linux that needs addressing, but we may just make external blosc the norm to avoid this completely. Closing this off.

[2021-02-27 11:53] #122 closed

[2021-02-27 14:35] cheesema opened #141 "OpenMP not detected correctly on either Travis build"
Didn't realise this until the recent changes which now assume openmp has been found for the compiler.

Not sure why travis is compiler on linux with clang 3.6? Also there are not the correct flags for it to work on Mac.

[2021-02-28 10:31] cheesema opened #142 "Install instructions for Windows"
Seems the install instructions are only valid for unix, need to update for windows.

[2021-02-28 15:38] cheesema commented on #141
Will try and see now with mac the new install of getting openmp working as outlined here: https://cliutils.gitlab.io/modern-cmake/chapters/packages/OpenMP.html Then update the readme.

[2021-03-20 13:55] cheesema commented on #142
Resolved in #140

[2021-03-20 13:55] #142 closed

[2021-03-20 13:57] cheesema commented on #138
Compilation issues are solved in #142 however, I have yet to then look at the follow through issues for python.

[2021-05-08 09:58] cheesema commented on #138
This is now resolved, it hasn't been pushed through yet to master on PyLibAPR, but is working across Linux, Windows, and OSX, with OpenMP support pre-release can be found here: https://test.pypi.org/project/PyLibAPR-test/#files

[2021-05-08 09:58] #138 closed

[2021-05-08 09:59] cheesema commented on #88
This should now be resolved with instructions in the Readme from #140

[2021-05-08 09:59] #88 closed

[2021-05-08 10:00] cheesema commented on #109
There are a non-released version of PyLibAPR wrappers installable from: https://test.pypi.org/project/PyLibAPR-test/#files

[2021-05-10 19:30] psteinb opened #149 "libAPR as Blosc2 plug-in?"
As the development of blosc2 gains speed, it might be worth considering to play around with their new plugin API. See https://github.com/Blosc/c-blosc2/blob/main/examples/udcodecs.c
for an early example.

[2021-05-27 15:15] joeljonsson opened #152 "Integer under- and overflow due to bsplines may result in erroneous adaptation without warning"
For integer type images (uint8 and uint16) with intensities close to the maximum value, the bspline offset will cause overflow and value wrapping. Moreover, even if there is no overflow due to the offset itself, the bspline computation may still result in both under- and overflow. These issues can have a significant effect on the resulting adaptation -- but since no warnings are given, and the par

[2021-06-11 16:22] cheesema commented on #152
My vote would be for: 5, with an error suggesting 4.

[2022-01-07 16:03] cheesema opened #162 "Failing examples; possible solution add them to CI/CD"
Possible solution to include examples into our test framework and CI/CD.

This could be done through the test framework, or just an action to run through the examples with some datasets.

[2022-01-08 14:43] joeljonsson commented on #162
I like the idea of using actions, as it allows us to keep the code as it is, with examples in cpp files

[2022-01-12 20:32] cheesema opened #164 "Need a linear iterator based initialisatoin to the tree iterator"

[2022-01-12 20:42] joeljonsson commented on #164
Basically we just need to make [APR::initialize_apr_tree](https://github.com/AdaptiveParticles/LibAPR/blob/dd08691284a6e23e33bbdb65fabb4c73cf032369/src/data_structures/APR/APR.hpp#L346) initialize the linear tree access instead of the random one. So we need to implement a method `LinearAccess::initialize_tree_access(std::vector<PixelData<uint8_t>>&)`

[2022-04-22 11:18] joeljonsson opened #170 "dense RandomAccess tree initialization method is broken"
[`initialize_tree_random_dense`](https://github.com/AdaptiveParticles/LibAPR/blob/746885bbc8a816cef716d335aa13486678854864/src/data_structures/APR/APR.hpp#L343) (develop) or [`initialize_apr_tree`](https://github.com/AdaptiveParticles/LibAPR/blob/dd08691284a6e23e33bbdb65fabb4c73cf032369/src/data_structures/APR/APR.hpp#L346) (master) appears to give incorrect results. It is not currently used anywh

[2022-06-16 12:26] #152 closed